<div class="nav-item">
    <NavLink class="nav-link" href="@Href" Match="@Match">@Text</NavLink>
</div>

@code {
    [Parameter]
    public string Href { get; set; } = string.Empty;

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;
}
